body {
  background-color: black;

  color: white;

}

h1 {
  font-family: Georgia;
}

li {
  font-family: helvetica;
  font-size: 20px;
}

img {
  border: 1px solid red;
  padding: 4px;
  margin: 20px auto;
  display: block;
  width: 50%;
  
}

.artist {
   border: 1px solid red;
  padding: 10px;
  margin: auto;
  display: block;
  width: 90%;
}

.spotlight {
   padding: 10px;
   border: 3px dotted yellow;
   width: 300px;
   text-align: center;
}
